[Unit]
Description=Mailbox synchronisation service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -Va -c .config/mbsyncrc

[Install]
WantedBy=default.target
